<% layout("/layouts/boilerplate") %>
<div class="row mt-3">

    <br>
    <div class="col-8 offset-2" >
        <br>
    <h3>Edit Toy toy</h3>
    <form action="/toys/<%= result[0].toyid %>?_method=put" method="post" novalidate id="newForm" class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Toy Name</label>
            <input type="text" required class="form-control" name="toyname" id="title" value="<%= result[0].toyname %>" required>
            <div class="invalid-feedback">
                Toy name looks good!
            </div>
        </div>
       
        
        <div class="mb-3">
            <label for="cate" class="form-label"> Category</label>
            <input type="text" required name="toycategory" class="form-control" placeholder="" value="<%= result[0].toycategory %>" id="cate">
            <div class="invalid-feedback">
                Please enter Toy Category
            </div>
        </div>
        

        
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
        <input type="text" id="image" required class="form-control" name="toyimage" value="<%= result[0].toyimage %>">
        <div class="invalid-feedback">
            Image link should be valid
        </div>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label"> Rent</label>
            <input type="text" id="price" required class="form-control" name="toyprice" value="<%= result[0].toyprice %>">
            <div class="invalid-feedback">
                Rent Should be valid
            </div>
            </div>
           
            <div class="mb-3 col-md-8">
                <label for="quant" class="form-label"> Quantity</label>
            <input type="number" id="quant" required class="form-control" name="toyquantity" value="<%= result[0].toyquantity %>">
            <div class="invalid-feedback">
                Quantity should be valid
            </div>
            </div>
    
        </div>

        <button class="btn btn-dark add-btn mt-2">Edit</button>
        <br><br>
    </form>
</div>
</div>