<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
  <div class="col-8 offset-2 mt-3 show-card">
      <h1>Toy Details</h1>
  </div>
  <div class="card col-6 offset-2">
      <img src="<%= toy.image %>" class="card-img-top show-img" alt="Listing_image">
      <div class="card-body">
          <p class="card-text">
              <b><%= toy.toyname %></b> <br>
              <%= toy.toycategory %><br>
              <%= toy.price %><br>
              <%= toy.toyquantity%><br>

          </p>
      </div>
  </div>
</div>
<div class="btns">
  <br><a href="/toy/<%= toy.toyid %>/edit" class="btn btn-dark edit-btn col-1 offset-2">Edit</a>
  <form action="/toy/<%=toy.toyid %>/delete?_method=delete" method="post" >
      <button class="btn btn-dark  del-btn offset-4">Delete</button>
  </form>
</div>